<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/iletisim.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontFamily.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


</head>

<body>
    <div class="container">
        <h1>İletişim</h1>


        <div class="contact-form">
            <h2>Bize Mesaj Gönderin</h2>
            <form action="#" method="post">
                <input type="text" name="name" placeholder="Adınız" required>
                <input type="email" name="email" placeholder="E-posta Adresiniz" required>
                <textarea name="message" rows="5" placeholder="Mesajınız" required></textarea>
                <button type="submit">Gönder</button>
            </form>
        </div>



        <div class="contact-header">
            <h1>Bize Ulaşın</h1>
            <p>Herhangi bir sorunuz veya geri bildiriminiz varsa lütfen bizimle iletişime geçin.</p>
        </div>
        <div class="contact-info">
            <div class="info-box">
                <i class="fas fa-map-marker-alt"></i> <!-- Daha modern bir adres ikonu -->
                <h2>Adres</h2>
                <p>İstanbul, Beşiktaş</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.727509488777!2d29.00383147559159!3d41.04380626845866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab73d94bf516b%3A0x2f7dd7bb02278bc!2sBe%C5%9Fikta%C5%9F%2C%20%C4%B0stanbul!5e0!3m2!1str!2str!4v1697475146905!5m2!1str!2str" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="info-box">
                <i class="fas fa-phone"></i> <!-- Telefon ikonu -->
                <h2>Telefon</h2>
                <p><a href="Tel:+902123456789">+90 212 345 67 89</a></p>

                <i class="fas fa-envelope"></i> <!-- E-posta ikonu -->
                <h2>Email</h2>
                <p><a href="mailto:info@ornekfirma.com">info@shineLab.com</a></p>
            </div>
            <div class="info-box">
                <i class="fas fa-clock"></i> <!-- Saat ikonu -->  
                <h2>Çalışma Saatleri</h2>
                <p>abcddssdd</p>
            </div>

        </div>


    </div>

    <!-- Font Awesome for icons (optional) -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
