@{
    ViewData["Title"] = "Anasayfa";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Karakter kodlaması -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobil uyumlu görünüm -->
    @* <meta name="description" content="Sayfa açıklaması burada yer alır."> <!-- SEO için açıklama -->
    <meta name="author" content="Yazarın Adı"> <!-- Yazar bilgisi -->
    <meta name="keywords" content="anahtar, kelimeler, buraya, gelir"> <!-- SEO için anahtar kelimeler --> *
    @* <link rel="stylesheet" href="styles.css"> <!-- Harici stil dosyası --> *@
    @* <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon --> *@
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontFamily.css" asp-append-version="true" />


</head>
<body>
    <div class="homeBody">
        <img src="~/web/images/ShineLaB.png" alt="background">
        <h1>ShineLaB</h1>
        <script src="~/js/scroll.js"></script>
    </div>


   



</body>
</html>
  

