@model KuaforWebSitesi.Models.Calisan
@* veri tabanından veri cekerek yapmalıyız *@

<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calisan 1- Detaylar</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="stilist-detay">
            <h1>Stilist 1 - Ada</h1>
            <img src="~/web/images/calisanlar/calisan1.jpg" alt="Stilist 1" />
            <p><strong>Uzmanlık Alanı:</strong> Renk Teknikleri, Fön ve Updo</p>
            <p><strong>Tecrübe:</strong> 5 yıl</p>
            <p><strong>Hakkında:</strong> Ada, stilist olarak uzun yıllar boyunca farklı tekniklerle çalışmış ve çeşitli eğitimlere katılmıştır...</p>
            @* <a href="/Wievs/Calisan/Index.cshtml">Ana Sayfaya Dön</a> *@
        </div>
        <div class="stilist-detay">
            <h1>Stilist 2 - Ada</h1>
            <img src="~/web/images/calisanlar/calisan1.jpg" alt="Stilist 1" />
            <p><strong>Uzmanlık Alanı:</strong> Renk Teknikleri, Fön ve Updo</p>
            <p><strong>Tecrübe:</strong> 5 yıl</p>
            <p><strong>Hakkında:</strong> Ada, stilist olarak uzun yıllar boyunca farklı tekniklerle çalışmış ve çeşitli eğitimlere katılmıştır...</p>
            <a href="index.html">Ana Sayfaya Dön</a>
        </div>
        <div class="stilist-detay">
            <h1>Stilist 3 - Ada</h1>
            <img src="~/web/images/calisanlar/calisan1.jpg" alt="Stilist 1" />
            <p><strong>Uzmanlık Alanı:</strong> Renk Teknikleri, Fön ve Updo</p>
            <p><strong>Tecrübe:</strong> 5 yıl</p>
            <p><strong>Hakkında:</strong> Ada, stilist olarak uzun yıllar boyunca farklı tekniklerle çalışmış ve çeşitli eğitimlere katılmıştır...</p>
            <a href="index.html">Ana Sayfaya Dön</a>
        </div>
        <div class="stilist-detay">
            <h1>Stilist 4 - Ada</h1>
            <img src="~/web/images/calisanlar/calisan1.jpg" alt="Stilist 1" />
            <p><strong>Uzmanlık Alanı:</strong> Renk Teknikleri, Fön ve Updo</p>
            <p><strong>Tecrübe:</strong> 5 yıl</p>
            <p><strong>Hakkında:</strong> Ada, stilist olarak uzun yıllar boyunca farklı tekniklerle çalışmış ve çeşitli eğitimlere katılmıştır...</p>
            <a href="index.html">Ana Sayfaya Dön</a>
        </div>
        <div class="stilist-detay">
            <h1>Stilist 5 - Ada</h1>
            <img src="~/web/images/calisanlar/calisan1.jpg" alt="Stilist 1" />
            <p><strong>Uzmanlık Alanı:</strong> Renk Teknikleri, Fön ve Updo</p>
            <p><strong>Tecrübe:</strong> 5 yıl</p>
            <p><strong>Hakkında:</strong> Ada, stilist olarak uzun yıllar boyunca farklı tekniklerle çalışmış ve çeşitli eğitimlere katılmıştır...</p>
            <a href="index.html">Ana Sayfaya Dön</a>
        </div>
        <div class="stilist-detay">
            <h1>Stilist 6 - Ada</h1>
            <img src="~/web/images/calisanlar/calisan1.jpg" alt="Stilist 1" />
            <p><strong>Uzmanlık Alanı:</strong> Renk Teknikleri, Fön ve Updo</p>
            <p><strong>Tecrübe:</strong> 5 yıl</p>
            <p><strong>Hakkında:</strong> Ada, stilist olarak uzun yıllar boyunca farklı tekniklerle çalışmış ve çeşitli eğitimlere katılmıştır...</p>
            <a href="index.html">Ana Sayfaya Dön</a>
        </div>
        <div class="stilist-detay">
            <h1>Estetik 1 - Ada</h1>
            <img src="~/web/images/calisanlar/calisan1.jpg" alt="Stilist 1" />
            <p><strong>Uzmanlık Alanı:</strong> Renk Teknikleri, Fön ve Updo</p>
            <p><strong>Tecrübe:</strong> 5 yıl</p>
            <p><strong>Hakkında:</strong> Ada, stilist olarak uzun yıllar boyunca farklı tekniklerle çalışmış ve çeşitli eğitimlere katılmıştır...</p>
            <a href="index.html">Ana Sayfaya Dön</a>
        </div>
        <div class="stilist-detay">
            <h1>Estetik 1 - Ada</h1>
            <img src="~/web/images/calisanlar/calisan1.jpg" alt="Stilist 1" />
            <p><strong>Uzmanlık Alanı:</strong> Renk Teknikleri, Fön ve Updo</p>
            <p><strong>Tecrübe:</strong> 5 yıl</p>
            <p><strong>Hakkında:</strong> Ada, stilist olarak uzun yıllar boyunca farklı tekniklerle çalışmış ve çeşitli eğitimlere katılmıştır...</p>
            <a href="index.html">Ana Sayfaya Dön</a>
        </div>
    </div>
</body>

</html>
