@{
    ViewData["Title"] = "Sonuç";
}

<div class="container text-center">
    <h1>Saç Stili Sonucu</h1>
    <div class="mt-4">
        <img src="@Model" alt="Saç stili uygulanmış görsel" class="img-fluid" />
    </div>
    <div class="mt-4">
        <a href="/" class="btn btn-secondary">Yeni Görsel Yükle</a>
    </div>
</div>

