@model RandevuViewModel


<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="RandevuEkle">
    <div class="form-group">
        <label for="SeçilenHizmetID">Hizmet</label>
        <select class="form-control" id="SeçilenHizmetID" name="SeçilenHizmetID" required>
            <option value="">Bir hizmet seçin</option>
            @foreach (var hizmet in Model.Hizmetler)
            {
                <option value="@hizmet.HizmetID">@hizmet.HizmetAdi</option>
            }
        </select>
       
    </div>

    <div class="form-group">
        <label for="SeçilenCalisanID">Çalışan</label>
        <select class="form-control" id="SeçilenCalisanID" name="SeçilenCalisanID" required>
            <option value="">Bir çalışan seçin</option>
        </select>
    </div>

    <div class="form-group">
        <label for="RandevuTarihi">Randevu Tarihi</label>
        <input type="datetime-local" class="form-control" id="RandevuTarihi" name="RandevuTarihi" required />
    </div>

    <button type="submit" class="btn btn-primary">Randevu Oluştur</button>
</form>

@section Scripts {
    <script>
        // Hizmet değiştiğinde çalışanları dinamik olarak getirmek
        $('#SeçilenHizmetID').change(function () {
            var hizmetID = $(this).val();
            if (hizmetID) {
                $.get('@Url.Action("GetCalisanlarByHizmet", "Randevu")', { hizmetID: hizmetID }, function (data) {
                    var calisanDropdown = $('#SeçilenCalisanID');
                    calisanDropdown.empty();
                    if (data.error) {
                        calisanDropdown.append('<option>' + data.error + '</option>');
                    } else {
                        calisanDropdown.append('<option value="">Bir çalışan seçin</option>');
                        $.each(data, function (index, calisan) {
                            calisanDropdown.append('<option value="' + calisan.CalisanID + '">' + calisan.Ad + ' ' + calisan.Soyad + '</option>');
                        });
                    }
                });
            }
        });
    </script>
}
